.kittykat-gif{
  position: fixed;
  left: 50%;
  bottom: 180px;
  width: 500px;
  height: auto;
  transform: translateX(-50%);
  z-index: 9998;
}

.kittykat{
  position: fixed;
  font-size: 30px;
  left: 150px;
  bottom: 70px;
  width: 1200px;
  display: grid;
  grid-template-columns: 56px 1fr;
  gap: 80px;
  padding: 12px;
  background: #fafeff;
  color: #3d4b5e;
  border: 1px dashed #adecff;
  border-radius: 12px;
  z-index: 9999;
}
.kittykat-avatar{
  width: 76px; height: 76px;
  overflow: hidden;
  border-radius: 12px;
  background: #fafeff;
  border: 1px dashed #adecff;
}
.kittykat-avatar-image{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.kittykat-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.kittykat-body > :first-child{
  flex: 1;
}


.kittykat-btn{
  display: inline-block;
  flex-shrink: 0;
  background: #4384b3;
  color: #fff;
  text-decoration: none;
  border: 1px solid rgba(240,246,252,.1);
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
}
.kittykat-btn:hover{ 
    transform: translateY(1.25px);
    background: #67afe2;
 }

.car-selection{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 32px;
  padding-bottom: 180px;
  box-sizing: border-box;
}

.car-card{
  width: 400px;
  color: #3d4b5e;
  background: #ffffffa9;
  border: 1px dashed #adecffc6;
  border-radius: 16px;
  padding: 12px;
}


.car-card-image{
  width: 100%;
  height: 250px;
  object-fit: contain;
  display: block;
}

.car-card-label{
  display: inline-block;
  margin-top: 10px;
  font-size: 28px;
}

@media (max-width: 980px){
  .car-selection{
    flex-direction: column;
    padding-bottom: 180px;
  }

  .car-card{
    width: 300px;
  }
}